@charset "UTF-8";
/* リセットCSS*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ブレイクポイント */
/* ブレイクポイントここまで */
/* 見出し装飾用 */
/* 見出し装飾用ここまで */
html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

h3 {
  font-size: 24px;
  font-family: 'ten-mincho', serif;
  color: #fff;
  padding-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 36px;
    padding-bottom: 20px;
    line-height: 53px;
    letter-spacing: 7.2px;
  }
}

h4 {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 3.6px;
  margin-bottom: 25px;
  font-weight: 400;
  width: 243px;
  height: 106px;
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 4.8px;
    margin-bottom: 40px;
    width: 354px;
    height: 142px;
  }
}

h5 {
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  h5 {
    font-size: 24px;
    line-height: 53px;
    letter-spacing: 4.8px;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 21px;
}

@media screen and (min-width: 1024px) {
  p {
    line-height: 27px;
  }
}

body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #000;
  font-family: 'ten-mincho-text', serif;
  font-size: 14px;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

/* ヘッダー */
/* ハンバーガーメニュー*/
.mainblur {
  /* ぼかし用 メインとヘッダーに */
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.header {
  /*アクティブクラスがついたら透過なしにして最前面へ*/
  /*ナビゲーションの縦スクロール*/
  /*ナビゲーション*/
  /*リストのレイアウト設定*/
  /* ナビの装飾 */
}

.header__nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: -1;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  /*動き*/
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.header__nav.panelactive {
  opacity: 1;
  z-index: 999;
}

.header__nav.panelactive .header__nav-outer {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header__nav-list {
  display: none;
  /*はじめは非表示*/
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    top: 35%;
    left: 85%;
    white-space: nowrap;
  }
}

.header__nav.panelactive .header__nav-list {
  display: block;
}

.header__nav-item {
  text-align: center;
}

.header__nav-item-a {
  display: block;
}

.header__nav-item {
  margin-right: 70px;
  letter-spacing: 1.8px;
  text-indent: 1.8px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
  border-bottom: none;
  height: 94px;
}

.header__nav-item::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: 0%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .header__nav-item::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-item::before {
    font-size: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-item {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-item {
    display: inline-block;
  }
}

.header__nav-item-span {
  position: relative;
  z-index: 2;
  font-size: 18px;
  top: 40%;
  /* ナビ装飾ここまで */
}

@media screen and (min-width: 1024px) {
  .header {
    /* PCサイズのナビゲーション */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* sp仕様から修正 */
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: relative;
    opacity: 1;
    /*ナビの位置と形状*/
    height: 94px;
    background: none;
    -webkit-transition: none;
    transition: none;
  }
  .header__nav-list {
    /* sp仕様から修正 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*はじめは非表示*/
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    top: 60%;
    left: 40%;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .header__nav-list {
    left: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-item {
    text-align: center;
  }
}

/* ハンバーガーボタンの形 */
.header__hamburger {
  /* ボタン外側 */
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger-span {
  /*ボタン内側*/
  display: inline-block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: absolute;
  height: 3px;
  border-radius: 30px;
  background: #9f7d50;
  width: 40px;
}

.header__hamburger-span:nth-of-type(1) {
  top: 20px;
}

.header__hamburger-span:nth-of-type(2) {
  top: 31px;
}

.header__hamburger-span:nth-of-type(3) {
  top: 42px;
}

.header__hamburger-span.active:nth-of-type(1), .header__hamburger-span.active:nth-of-type(3) {
  /*jQでactiveクラスを付与して一本に*/
  top: 31px;
}

@media screen and (min-width: 1024px) {
  .header__hamburger-span {
    display: none;
  }
}

/* ハンバーガーボタンの形ここまで */
/* ヘッダー出し入れアニメーション用 */
@media screen and (min-width: 1024px) {
  /*上に上がる動き*/
  #header.upmove {
    -webkit-animation: upanime 1.5s forwards;
            animation: upanime 1.5s forwards;
  }
  @-webkit-keyframes upanime {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes upanime {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  /*下に下がる動き*/
  #header.downmove {
    -webkit-animation: downanime 1.5s forwards;
            animation: downanime 1.5s forwards;
  }
  @-webkit-keyframes downanime {
    from {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes downanime {
    from {
      opacity: 0;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

/* ヘッダー出し入れアニメーション用ここまで */
/* ナビここまで */
.main {
  width: 100%;
}

/* メインビジュアル */
.mv-section {
  position: relative;
}

.mv-section__bg {
  height: 418px;
  width: auto;
  background: url(img/bg.jpeg) no-repeat;
  background-position: 60% -80%;
  background-size: 190%;
}

@media screen and (min-width: 768px) {
  .mv-section__bg {
    height: 600px;
    background-position: 65% -80%;
    background-size: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .mv-section__bg {
    height: 845px;
    background-position: 70% -80%;
    background-size: 130%;
  }
}

@media screen and (min-width: 1280px) {
  .mv-section__bg {
    background-position: 70% 187%;
  }
}

.mv-section__img-outer {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.mv-section__img {
  width: 267px;
}

@media screen and (min-width: 1024px) {
  .mv-section__img {
    width: 528px;
  }
}

/* コンセプト */
.concept-section {
  /* 見出し */
  /* 見出しここまで */
  /* リード文とあしらい */
  /* 1 */
  /* 2 */
  /* リード文とあしらいここまで */
}

.concept-section__heading-outer {
  margin-top: 90px;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .concept-section__heading-outer {
    margin-top: 220px;
    padding-top: 80px;
  }
}

.concept-section__heading {
  letter-spacing: 4.8px;
  text-indent: 4.8px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.concept-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: -30px;
  left: -16px;
}

@media screen and (min-width: 1024px) {
  .concept-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .concept-section__heading::before {
    left: -45px;
  }
}

.concept-section__heading-span {
  position: relative;
  z-index: 2;
}

.concept-section__img-outer1 .concept-section__img-outer2 {
  margin-top: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .concept-section__lead1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.concept-section__caption1 {
  margin: 5% 5% 0 5%;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .concept-section__caption1 {
    margin: 23% 10% 0 5%;
    padding-left: 5%;
  }
}

.concept-section__p1 {
  line-height: 28px;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .concept-section__p1 {
    width: 439px;
    line-height: 36px;
    letter-spacing: 1.8px;
  }
}

.concept-section__candle-outer1 {
  position: absolute;
  right: 10%;
  top: 0%;
}

@media screen and (min-width: 768px) {
  .concept-section__candle-outer1 {
    right: 3%;
    top: -16%;
  }
}

.concept-section__candle1 {
  width: 63px;
  opacity: 0.55;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .concept-section__candle1 {
    width: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .concept-section__candle1 {
    width: 85px;
  }
}

@media screen and (min-width: 1280px) {
  .concept-section__candle1 {
    width: 115px;
  }
}

.concept-section__img1 {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .concept-section__img1 {
    width: 180%;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .concept-section__img1 {
    width: 125%;
  }
}

@media screen and (min-width: 768px) {
  .concept-section__lead2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .concept-section__img-outer2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.concept-section__caption2 {
  margin: 0 5%;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .concept-section__caption2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20% 0% 0 5%;
    padding-left: 5%;
  }
}

.concept-section__heading2 {
  z-index: 4;
}

.concept-section__p2 {
  line-height: 28px;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 1024px) {
  .concept-section__p2 {
    width: 439px;
    line-height: 36px;
    letter-spacing: 1.8px;
  }
}

.concept-section__candle-outer2 {
  position: absolute;
  right: 10%;
  top: 0%;
}

@media screen and (min-width: 768px) {
  .concept-section__candle-outer2 {
    left: 0%;
    top: -12%;
  }
}

.concept-section__candle2 {
  width: 63px;
  opacity: 0.55;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .concept-section__candle2 {
    width: 115px;
  }
}

.concept-section__img2 {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .concept-section__img2 {
    width: 100%;
    height: 100%;
  }
}

/* アクセス・マップ */
.access-section {
  margin: 100px 5% 0 5%;
  text-align: center;
  /* 見出し */
  /* 見出しここまで */
}

.access-section__heading-outer {
  padding-top: 50px;
  text-align: center;
}

.access-section__heading {
  letter-spacing: 2.4px;
  text-indent: 2.4px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.access-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: -78%;
  left: -12%;
}

@media screen and (min-width: 1024px) {
  .access-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .access-section__heading::before {
    top: -15px;
  }
}

.access-section__heading-span {
  position: relative;
  z-index: 2;
}

.access-section__caption {
  margin-top: 40px;
}

.access-section__p {
  margin-top: 10px;
  letter-spacing: 1.4px;
}

@media screen and (min-width: 1024px) {
  .access-section__p {
    margin-top: 20px;
  }
}

.access-section__p:first-child {
  margin-top: 0;
}

.access-section__img {
  min-width: 314px;
  min-height: 246px;
  max-width: 648px;
  max-height: 506px;
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {
  .access-section__img {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .access-section {
    margin-top: 190px;
  }
}

/* 協力店舗 */
.shop-section {
  margin: 150px 8% 0 8%;
  /* 見出し */
  /* 見出しここまで */
  /* 説明 */
  /* 説明ここまで */
  /* ボタン */
}

.shop-section__heading-outer {
  padding-top: 60px;
  text-align: center;
}

.shop-section__heading {
  letter-spacing: 4.8px;
  text-indent: 4.8px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.shop-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: -40px;
  left: 51px;
}

@media screen and (min-width: 1024px) {
  .shop-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .shop-section__heading::before {
    top: -25px;
  }
}

.shop-section__heading-span {
  position: relative;
  z-index: 2;
}

.shop-section__caption {
  margin-top: 40px;
}

.shop-section__p {
  margin-bottom: 10px;
  line-height: 21px;
  letter-spacing: 1.4px;
}

@media screen and (min-width: 768px) {
  .shop-section__p {
    margin-bottom: 15px;
    text-align: center;
  }
}

.shop-section__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .shop-section__list {
    margin-top: 0;
  }
}

.shop-section__item {
  border: 1px solid #9f7d50;
  max-width: 315px;
  margin: 5% 0 0 0;
}

.shop-section__item:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #151515;
}

.shop-section__pic {
  max-width: 313px;
}

.shop-section__pic:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.shop-section__txt {
  color: #fff;
  padding: 5% 28%;
  text-align: center;
  font-family: 'ten-mincho', serif;
  font-size: 18px;
  line-height: 27px;
}

.shop-section__button-outer {
  height: 55px;
  margin: 40px auto 0 auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .shop-section__button-outer {
    margin: 5% auto 0 auto;
  }
}

.shop-section__button {
  border-radius: 100vh;
  background-color: #d98732;
  width: 300px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  letter-spacing: 1.6px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop-section__button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #ff9b33;
}

@media screen and (min-width: 1024px) {
  .shop-section {
    margin-top: 190px;
  }
}

/* ボタンここまで */
/* 新着情報*/
.news-section {
  margin-top: 80px;
  padding-top: 70px;
  /* 見出し */
  /* 見出しここまで */
  /* 行全体 */
  /* テキスト全体 */
}

.news-section__heading-outer {
  text-align: center;
}

.news-section__heading {
  letter-spacing: 4.8px;
  text-indent: 4.8px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.news-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: -40px;
  left: -25px;
}

@media screen and (min-width: 1024px) {
  .news-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .news-section__heading::before {
    top: -25px;
  }
}

.news-section__heading-span {
  position: relative;
  z-index: 2;
}

.news-section__list {
  padding-top: 60px;
}

.news-section__item {
  margin: 0 5%;
  display: block;
  border-bottom: 1px solid #9f7d50;
}

.news-section__item:first-child {
  border-top: 1px solid #9f7d50;
}

.news-section__item:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #222;
}

@media screen and (min-width: 1024px) {
  .news-section__item {
    margin: 0 10%;
  }
}

.news-section__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 16px 17px 16px 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  /* >のあしらい */
}

.news-section__inner::after {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  right: 5%;
  content: '';
  border: solid #fff;
  border-width: 0 1px 1px 0;
  padding: 4px;
}

@media screen and (min-width: 1024px) {
  .news-section__inner {
    padding: 30px 17px 30px 10px;
  }
  .news-section__inner::after {
    right: 10%;
  }
}

.news-section__date {
  display: block;
  width: 6.5em;
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .news-section__date {
    width: 12em;
    text-align: center;
  }
}

.news-section__txt {
  display: block;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .news-section__txt {
    margin: 0 5%;
  }
}

@media screen and (min-width: 1024px) {
  .news-section {
    margin-top: 110px;
    padding-top: 80px;
  }
}

/* 新着情報ここまで */
/* 注意事項 */
.warn-section {
  margin: 150px 8% 0 8%;
  /* 見出し */
  /* 見出しここまで */
  /* コロナ見出し */
  /* コロナ見出しここまで */
}

.warn-section__heading-outer {
  margin-top: 50px;
  text-align: center;
}

.warn-section__heading {
  letter-spacing: 4.8px;
  text-indent: 4.8px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.warn-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  top: -40px;
  left: -25px;
}

@media screen and (min-width: 1024px) {
  .warn-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .warn-section__heading::before {
    top: -25px;
  }
}

.warn-section__heading-span {
  position: relative;
  z-index: 2;
}

.warn-section__caption {
  margin-top: 40px;
}

.warn-section__caption-p {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .warn-section__caption-p {
    margin-top: 30px;
    text-align: center;
  }
}

.warn-section__colona-heading-outer {
  height: 105px;
  padding: 50px auto 20px auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .warn-section__colona-heading-outer {
    padding: 30px auto 0 auto;
  }
}

.warn-section__colona-heading {
  background-color: #9f7d50;
  width: 250px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.warn-section__colona-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: 'item1 item1 item1 item1' 'item2 . . item3';
}

@media screen and (min-width: 768px) {
  .warn-section__colona-grid {
        grid-template-areas: 'item2 item1 item1 item3' 'item2 item1 item1 item3';
  }
}

.warn-section__colona-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: item1;
}

.warn-section__colona-item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item2;
  margin-top: 30px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .warn-section__colona-item2 {
    text-align: center;
  }
}

.warn-section__colona-item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: item3;
  margin-top: 30px;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .warn-section__colona-item3 {
    text-align: center;
  }
}

.warn-section__colona-p {
  margin-bottom: 10px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1024px) {
  .warn-section__colona-p {
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: 3.5px;
  }
}

.warn-section__colona-img {
  width: 100px;
}

@media screen and (min-width: 1024px) {
  .warn-section {
    margin-top: 190px;
  }
}

.etc-section {
  padding-top: 150px;
  padding-bottom: 100px;
  max-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.etc-section__box:last-child {
  margin-top: 100px;
}

@media screen and (min-width: 800px) {
  .etc-section__box:last-child {
    margin-top: 0;
  }
}

.etc-section__heading-outer {
  text-align: center;
}

.etc-section__heading {
  letter-spacing: 7.3px;
  text-indent: 7.3px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: rgba(159, 125, 80, 0.65);
}

.etc-section__heading::before {
  content: attr(data-en);
  position: absolute;
  font-family: 'Stalemate', cursive;
  font-size: 64px;
  color: rgba(159, 125, 80, 0.65);
  letter-spacing: 2px;
  text-indent: 2px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .etc-section__heading::before {
    font-size: 96px;
  }
}

@media screen and (min-width: 1024px) {
  .etc-section__heading::before {
    top: 20px;
  }
}

.etc-section__heading-span {
  position: relative;
  z-index: 2;
}

.etc-section__wrap {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
}

.etc-section__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  position: relative;
  left: 30%;
}

.etc-section__outer:first-child {
  padding-top: 0;
}

.etc-section__h5 {
  padding-right: 25px;
}

.etc-section__text {
  position: relative;
  margin: auto 0;
}

.etc-section__text-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.etc-section__text2 {
  padding-top: 15px;
}

@media screen and (min-width: 1024px) {
  .etc-section {
    margin-top: 190px;
    margin-bottom: 150px;
  }
}

.footer {
  width: auto;
  max-height: 617px;
  position: relative;
}

.footer__img-outer {
  text-align: center;
}

.footer__img {
  width: 80%;
  max-width: 1440px;
  min-height: 231px;
  max-height: 427px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__copy {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

/* 全体：ふわっと出るアニメーション */
.fadein {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 時間差フェードイン研究中 */
/* 全体：ふわっと出るアニメーションここまで */
/*# sourceMappingURL=style.css.map */